<% @users = User.all %>
<% @users.each do |user| %>
<div class="alert alert-info" role="alert">

<div class="row"><center>
  <div class="col-sm-4"> <%= image_tag user.gravatar_url %> <br></div>
  <div class="col-sm-4"><%= user.first_name %><br/></div>
  <div class="col-sm-4"> <%= user.location %><br></div><br><br><hr></center>
  <center><a href="https://supporappoi.herokuapp.com/users/<%= user.id %>">Mijn profiel pagina</a></center>
</div>

</div><% end %>