
   
  <div class="jumbotron" style="background-image: url('https://images.pexels.com/photos/6384/woman-hand-desk-office.jpg');
background-position: 0% 25%;
background-size: cover;
background-repeat: no-repeat;
color: white;
text-shadow: black 0.3em 0.3em 0.3em;">
    <h1>
     Hi, <%= current_user.first_name %> !<br> 
    </h1>
    <h2>
      Experience the peer support!
    </h2>
  </div>
   
   <div class="jumbotron">
     
     <div class="row" style="background-color: white;">
       <div class="col-sm-8">
         <h4>
           Welkomstbericht!
         </h4>
         <br><hr>
           <h5>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent semper fermentum felis. Aliquam sollicitudin diam ornare fermentum condimentum. Cras nec convallis ipsum. Nam aliquet, nisi sed bibendum rutrum, nisl sapien vulputate orci, quis porttitor felis risus sit amet neque. Nunc pellentesque id ligula quis commodo. Vestibulum volutpat, elit sed volutpat cursus, sem purus sollicitudin nibh, sodales eleifend nisi mauris id elit. Quisque luctus nisl viverra, finibus magna nec, tincidunt dui. Nunc dignissim urna et magna viverra, sit amet hendrerit diam luctus.

Nulla tempus mauris eu mauris commodo porttitor. Nullam imperdiet augue a tempus commodo. Nunc sit amet urna sed leo dictum faucibus eget ac nunc. Cras id aliquet felis. Vivamus aliquet pharetra elit at tincidunt. Etiam gravida diam ut varius viverra. Ut porttitor porttitor libero, sit amet accumsan lacus mollis at. Nulla elementum vitae metus ut viverra.

</h5>
         
       </div>
       <div class="col-sm-4">
         <img src="http://via.placeholder.com/100x100">
       </div>
     </div>
     
   </div>
  
  
    
    
    
 